{% extends 'base.html' %} {% block content %}
<h1>Vista: {{view | title}}</h1>
<div class="d-flex flex-wrap">
  {% for object in object_list %}
  <div class="p-2">
    <div class="card" style="width: 18rem">
      <img src="{{object.thumbnail.url}}" class="card-img-top" alt="..." />
      <div class="card-body">
        <a href="{{object.get_absolute_url}}">
          <h5 class="card-title">{{object.title | title}}</h5>
        </a>
        <p class="card-text">{{object.content | truncatechars:40}}</p>
        <hr />
        <p>
          <span class="p-1">
            <i class="fas fa-thumbs-up"></i> {{ object.get_like_count }}
          </span>
          <span class="p-1">
            <i class="fas fa-eye"></i> {{ object.get_view_count }}
          </span>
          <span class="p-1"
            ><i class="fas fa-comments"></i> {{ object.get_comment_count}}
          </span>
          <p>
            Posted {{ object.publish_date | timesince}} ago
          </p>
        </p>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock content %}
